.aboutus {
  &__head {
    margin-bottom: 40px;
  }

  &-wrap {
    background-image: url(../img/aboutus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    //width: 100%;
  }
  .container {
    width: 1290px;
    margin: 0 auto;
    padding-bottom: 70px;
  }
  &-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    //justify-content: center;

  }
  &-content {
    grid-column: 1/ 2;
    grid-row: 1/4;
    border: 1px solid #c7c7c7;

    padding: 45px;
    //min-width: 605px;
    h6 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &-list {
    grid-column: 2/ 3;
    grid-row: 1/2;
    border: 1px solid #c7c7c7;

    padding: 50px;


    h6 {
      margin-bottom: 15px;
    }
    li {
      padding: 10px 40px;
      position: relative;
      //&:nth-child(odd), &:nth-child(even) {
      //  position: relative;
      //  background-image: url(../img/list.png);
      //  background-repeat: no-repeat;
      //
      //  //top: 10px;
      //  //width: 24px;
      //  //height: 24px;
      //
      //}
      &:before {
        content: "";
        position: absolute;
        background-image: url(../img/list.png);
        background-repeat: no-repeat;

        top: 10px;
        left: 0;
        width: 24px;
        height: 24px;

      }
    }


  }
  &-order {
    grid-column: 2/ 3;
    grid-row: 2/3;
    border: 1px solid #c7c7c7;

    padding: 45px;
    p {
      margin-bottom: 15px;
      &:nth-child(1) {
        font-weight: 700;

      }
    }
  }



}