//$max-width: 1250px;

$min-width: 320px;

$fz-h2: 60px;
$fz-h3: 48px;
$fz-h4: 36px;  /*title-section*/
$fz-h5: 30px;
$fz-h6: 18px;



$text-p4: 20px;
$text-p5: 16px;

//$font-size-h6: 13px;

$color-h3: fade(#000,80%);

$line-height-h3: 55px;

$background-bg: #fff;

$base-font-size: 16px;

//$base-color: fade(#000,80%);
//
//.button-red {
//  width: 300px;
//  height: 45px;
//  background-color: orange;
//}
